/* Text styles */
html {
  height: 100%;
}
body {
  font-family: 'raleway', sans-serif;
  color: #ffffff;
  background-color: #18314F;
  margin: 0;
  height: 100%;
  width: 100%;
  display: table;
}
h1, h2, h3 {
  color: #ED6A5A;
}
h4 {
  text-align: center;
}
ol li h4 {
  text-align: left;
}
a {
  text-decoration: none;
  color: #ffffff;
}
header {
  background-color: #132746;
  color: #18314F;
}
#quiz {
  background-color: #132746;
}
.check {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 500px;
  border: 3px solid #ED6A5A;
}
.check[aria-checked="true"] {
  background-color: #ED6A5A;
}
.check:hover {
  border: 3px solid #ffffff;
}
label.check-label {
  margin-top: 0.25em;
  display: inline-block;
  vertical-align: top;
  margin-left: 0.4em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin-left: 2em;
}
header h3:hover, header h4:hover {
  color: #ED6A5A;
}
footer {
  background-color: #132746;
  display: table-row;
}
.coral {
  background-color: #ED6A5A;
  color: #18314F;
}
.column.tile {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  background-color: #DC5F51;
  border-radius: 0.6em;
  transition: background-color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;
}
.column.tile:nth-child(3) {
  background-color: #ED6A5A;
}
.column.tile:hover {
  background-color: #FB7868;
}
.coral h1, h2, h3, h4 {
  color: #ffffff;
}
.question {
  color: #ED6A5A;
  font-style: italic;
}
.answer {
  color: #ffffff;
  font-weight: 600;
}
.answer a {
  color: #ffffff;
  text-decoration: underline;
}
.answer a:hover {
  color: #ED6A5A;
  text-decoration: none;
}
.copyright {
  text-align: center;
  padding: 0.5em;
  font-size: 0.8em;
  margin: 0;
}
.virus-icon {
  height: 120px;
  width: 120px;
  margin: auto;
  border-radius: 500px;
  border: 3px solid #ffffff;
  display: block;
}
/* CTA button handling */
.button {
  background-color: #ED6A5A;
  color: #ffffff;
  border-radius: 500px;
  padding: 0.4em 1em;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;
  margin-top: 0.5em;
  display: inline-block;
  font-weight: 700;
  margin-right: 1em;
}
.button:hover {
  background-color: #FCD2BE;
  color: #18314F;
}
a .button {
  color: #ffffff;
  font-family: 'raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
}
.coral .button {
  background-color: #18314F;
  color: #ffffff;
}
.coral .button:hover {
  background-color: #132746;
  color: #FCD2BE;
}
.button[ready="false"] {
  background-color: #18314F;
  color: #132746;
}
.button.begin[ready="false"] {
  background-color: #132746;
  color: #18314F;
}
.begin {
  cursor: pointer;
}
main {
  display: table-row;
  height: 100%;
}
footer a:hover {
  color: #ED6A5A;
}
/* Media queries */
@media only screen and (max-width: 320px) {
}
@media only screen and (min-width: 321px) {
}
@media only screen and (min-width: 601px) {
}
@media only screen and (min-width: 721px) {
}
@media only screen and (min-width: 850px) {
}
