/* Text styles */
body {
  font-family: 'raleway', sans-serif;
  color: #ffffff;
  margin: 0;
}
/* CTA button handling */
.button {
  background-color: #EF4DAE;
  border-radius: 500px;
  padding: 0.4em 1em;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;
}
.button:hover {
  background-color: #3B2611;
}
a .button:hover {
  text-shadow: 0px 1px 0.5px #fe58bc;
}
a .button {
  color: #ffffff;
  font-family: 'raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
}
/* Media queries */
@media only screen and (max-width: 320px) {
}
@media only screen and (min-width: 321px) {
}
@media only screen and (min-width: 601px) {
}
@media only screen and (min-width: 721px) {
}
@media only screen and (min-width: 850px) {
}
