/* Text styles */
body {
  font-family: 'raleway', sans-serif;
  color: #ffffff;
  background-color: #18314F;
  margin: 0;
}
h1, h2, h3 {
  color: #ED6A5A;
}
h4 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #ffffff;
}
footer {
  background-color: #132746;
}
.coral {
  background-color: #ED6A5A;
  color: #18314F;
}
.coral h1, h2, h3, h4 {
  color: #ffffff;
}
.question {
  color: #ED6A5A;
  font-style: italic;
}
.answer {
  color: #ffffff;
  font-weight: 600;
}
.copyright {
  text-align: center;
  padding: 0.5em;
  font-size: 0.8em;
  margin: 0;
}
.virus-icon {
  height: 120px;
  width: 120px;
  margin: auto;
  border-radius: 500px;
  border: 3px solid #ffffff;
  display: block;
}
/* CTA button handling */
.button {
  background-color: #ED6A5A;
  color: #ffffff;
  border-radius: 500px;
  padding: 0.4em 1em;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;
}
.button:hover {
  background-color: #FCD2BE;
  color: #18314F;
}
a .button {
  color: #ffffff;
  font-family: 'raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
}
/* Media queries */
@media only screen and (max-width: 320px) {
}
@media only screen and (min-width: 321px) {
}
@media only screen and (min-width: 601px) {
}
@media only screen and (min-width: 721px) {
}
@media only screen and (min-width: 850px) {
}
