/* Text styles */
body {
  font-family: 'raleway', sans-serif;
  color: #ffffff;
  background-color: #18314F;
  margin: 0;
}
h1, h2, h3 {
  color: #ED6A5A;
}
a {
  text-decoration: none;
}
footer {
  background-color: #132746;
}
/* CTA button handling */
.button {
  background-color: #ED6A5A;
  color: #ffffff;
  border-radius: 500px;
  padding: 0.4em 1em;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;
}
.button:hover {
  background-color: #FCD2BE;
  color: #18314F;
}
a .button {
  color: #ffffff;
  font-family: 'raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
}
/* Media queries */
@media only screen and (max-width: 320px) {
}
@media only screen and (min-width: 321px) {
}
@media only screen and (min-width: 601px) {
}
@media only screen and (min-width: 721px) {
}
@media only screen and (min-width: 850px) {
}
